# [作業目標]
- 使用 Day 17 剛學到的方法, 對較完整的資料生成離散化特徵
- 觀察上述離散化特徵, 對於目標值的預測有沒有幫助

# [作業重點]
- 仿照 Day 17 的語法, 將年齡資料 ('DAYS_BIRTH' 除以 365) 離散化
- 繪製上述的 "離散化標籤" 與目標值 ('TARGET') 的長條圖

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
# 載入需要的套件
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# 設定 data_path
dir_data = './drive/My Drive/ML_100/day6/'

### 之前做過的處理

In [3]:
# 讀取資料檔
app_train = pd.read_csv(dir_data + 'application_train.csv')
app_train.shape

(307511, 122)

In [4]:
# 將只有兩種值的類別型欄位, 做 Label Encoder, 計算相關係數時讓這些欄位可以被包含在內
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

# 檢查每一個 column
for col in app_train:
    if app_train[col].dtype == 'object':
        # 如果只有兩種值的類別型欄位
        if len(list(app_train[col].unique())) <= 2:
            # 就做 Label Encoder, 以加入相關係數檢查
            ##########
            print(col)
            ##########
            app_train[col] = le.fit_transform(app_train[col])            
print(app_train.shape)
app_train.head()

NAME_CONTRACT_TYPE
FLAG_OWN_CAR
FLAG_OWN_REALTY
(307511, 122)

   SK_ID_CURR  TARGET  ...  AMT_REQ_CREDIT_BUREAU_QRT AMT_REQ_CREDIT_BUREAU_YEAR
0      100002       1  ...                        0.0                        1.0
1      100003       0  ...                        0.0                        0.0
2      100004       0  ...                        0.0                        0.0
3      100006       0  ...                        NaN                        NaN
4      100007       0  ...                        0.0                        0.0

[5 rows x 122 columns]

In [0]:
# 受雇日數為異常值的資料, 另外設一個欄位記錄, 並將異常的日數轉成空值 (np.nan)
app_train['DAYS_EMPLOYED_ANOM'] = app_train["DAYS_EMPLOYED"] == 365243
app_train['DAYS_EMPLOYED'].replace({365243: 0}, inplace = True)

# 出生日數 (DAYS_BIRTH) 取絕對值 
app_train['DAYS_BIRTH'] = abs(app_train['DAYS_BIRTH'])

## 練習時間
參考 Day 17 範例程式，離散化你覺得有興趣的欄位，並嘗試找出有趣的訊息

In [22]:

app_train['DAYS_EMPLOYED_EQUAL_FREQ'] = pd.qcut(app_train['DAYS_EMPLOYED'] , q = 4)
app_train['DAYS_EMPLOYED_EQUAL_FREQ']

0             (-1213.0, -289.0]
1             (-1213.0, -289.0]
2                 (-289.0, 0.0]
3         (-17912.001, -2760.0]
4         (-17912.001, -2760.0]
                  ...
307506            (-289.0, 0.0]
307507            (-289.0, 0.0]
307508    (-17912.001, -2760.0]
307509    (-17912.001, -2760.0]
307510       (-2760.0, -1213.0]
Name: DAYS_EMPLOYED_EQUAL_FREQ, Length: 307511, dtype: category
Categories (4, interval[float64]): [(-17912.001, -2760.0] < (-2760.0, -1213.0] < (-1213.0, -289.0] <
                                    (-289.0, 0.0]]

In [26]:
app_train.groupby(by = 'DAYS_EMPLOYED_EQUAL_FREQ')['AMT_INCOME_TOTAL'].mean()
# DAYS_EMPLOYED_EQUAL_FREQ is related to AMT_INCOME_TOTAL

DAYS_EMPLOYED_EQUAL_FREQ
(-17912.001, -2760.0]    181953.552097
(-2760.0, -1213.0]       177463.709440
(-1213.0, -289.0]        171707.428363
(-289.0, 0.0]            144038.192009
Name: AMT_INCOME_TOTAL, dtype: float64